{% extends "base.html" %}

{% block title %}Détails du Scrutin{% endblock %}

{% block content %}
<h1>{{ scrutin.question }}</h1>

<p>Options disponibles :</p>
<ul>
    {% for option in scrutin.options %}
    <li>{{ option }}</li>
    {% endfor %}
</ul>

<p>Date de début : {{ scrutin.start_date }}</p>
<p>Date de fin : {{ scrutin.end_date }}</p>

{% if current_user.is_authenticated %}
    {% if has_voted %}
        <p>Vous avez déjà voté pour ce scrutin.</p>
    {% else %}
        <form action="/vote/{{ scrutin._id }}" method="post">
            <label for="option">Choisissez une option :</label>
            <select name="option" id="option" required>
                {% for option in scrutin.options %}
                <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </select>
            <button type="submit">Voter</button>
        </form>
    {% endif %}
{% else %}
    <p><a href="/login">Connectez-vous</a> pour voter.</p>
{% endif %}
{% endblock %}
